
/* Centering the form */
.form-container {
    width: 90%; /* Width of the form container */
    max-width: 900px; /* Maximum width */
    margin: 0 auto; /* Centering the container horizontally */
    padding: 32px 24px; /* Padding inside the form container */
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box; /* Background gradient */
    border: 2px solid transparent; /* Border */
    border-radius: 16px; /* Rounded corners */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white; /* Text color */
    font-size: 14px; /* Font size */
    animation: gradient 5s ease infinite; /* Animation */
    background-size: 200% 100%; /* Background size */
}

/* Keyframes for background gradient animation */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Styling the form inside the container */
.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Styling form groups */
.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

/* Styling labels */
.form-container .form-group label {
    color: #717171;
    font-weight: 600;
    font-size: 12px;
}

/* Styling input and textarea */
.form-container .form-group input,
.form-container .form-group textarea {
    width: 90%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #414141;
}

/* Styling placeholder text */
.form-container .form-group input::placeholder,
.form-container .form-group textarea::placeholder {
    opacity: 0.5;
    color: #fff;
}

/* Styling focus state */
.form-container .form-group input:focus,
.form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
}

/* Styling submit button */
.form-container .form-submit-btn {
    align-self: flex-start;
    color: #717171;
    font-weight: 600;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    border-radius: 6px;
    cursor: pointer;
}

/* Hover effect for submit button */
.form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .form-container {
        padding: 20px; /* Adjusting padding for smaller screens */
    }

    .form-container .form-submit-btn {
        width: 100%; /* Making the button full width */
        text-align: center; /* Centering the button text */
    }
}
